//COLORES

//principales
//Variable                      //Valor
$color-main             :      #FFC500;
$color-background       :      #222526;

//secundarios
$color-secondarybg      :      #171819;
$color-secondary        :      #FFFFFF;



//TIPOGRAFÍA

//Peso
//Variable                     //Valor
$font-family            :       'Roboto', sans-serif;
$font-regular           :       400;
$font-medium            :       500;
$font-bold              :       700;

//Tamaño
//Variable                      //Valor
$font-h1                :       4rem;
$font-h2                :       2rem;
$font-h3                :       1.5rem;
$font-h4                :       1.25rem;
$font-p                 :       1rem;
$font-s                 :       .75rem;